@charset "ISO-8859-1";

.card img{
	max-height: 150px;
}

.card .descripcion{
color:graytext;	
}

.price{
	font-weight: bold;
	font-size: 16px;
}

.container{
	background-color: #eeeeee;
}

.aside{
	background-color:#eee;
	height: 100%;
	      	 float:left;
display: inline-block;
width: 15%;
}